<style>
  .my-border {
    border: 2px solid red;
    background-color: #352e2e;
  }
</style>

<header class="text-center">
  <nav class=" my-border navbar navbar-expand-md navbar-dark fixed-top bg-mont">
    <a href="/index.html" class="navbar-brand"><img src="/assets/montereylogo2.png" alt="Monterey Logo"
        class="tt-retina-logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <div class="icon-wrapper"><i class="fas fa-home navicon"></i></div>
            <div class="menu-text-wrapper">Home</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="hrforms.html">
            <div class="icon-wrapper"><i class="far fa-file navicon"></i></div>
            <div class="menu-text-wrapper">HR Forms</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.paycomonline.net/v4/ee/ee-login.php" target="_blank">
            <div class="icon-wrapper">
              <i class="far fa-clock navicon"></i>
            </div>
            <div class="menu-text-wrapper">Timeclock</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="directory.html">
            <div class="icon-wrapper">
              <i class="fas fa-phone navicon"></i>
            </div>
            <div class="menu-text-wrapper">Employee Directory</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="contact.html">
            <div class="icon-wrapper">
              <i class="fas fa-list-alt navicon"></i>
            </div>
            <div class="menu-text-wrapper">Contact Info</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.surveymonkey.com/r/MFSEmployeeFeedback" target="_blank">
            <div class="icon-wrapper">
              <i class="fas fa-inbox navicon"></i>
            </div>
            <div class="menu-text-wrapper">Suggestion Box</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="wellness.html">
            <div class="icon-wrapper"><i class="fas fa-spa navicon"></i></div>
            <div class="menu-text-wrapper">Wellnes</div>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://dashboard.bytetechnology.co/kiosk/uCE7qzVNMqje05XWbEVeQg/contents">
            <div class="icon-wrapper">
              <i class="fas fa-utensils navicon"></i>
            </div>
            <div class="menu-text-wrapper">Smart Fridge</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>