<div class="container mt-5 test1 my-border">
  <div class="row mt-4">
    <div class="col-12">
      <h1 style="background-color: white;" class=" text-center">Spring Hunt 2023</h1>

    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Image 1 -->
    <div class="col">
      <div class="card rounded-bottom">
        <img src="/springHunt/1.jpg" class="card-img-top rounded-bottom" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal">
        <!-- <div class="card-body">
      <h5 class="card-title">Event Image 1</h5>
      <p class="card-text">Description of the event or image.</p>
    </div> -->
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/1.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->

    <div class="col">
      <div class="card">
        <img src="/springHunt/3.jpg" class="card-img-top" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal3">
        <div class="card-body">
          <h5 class="card-title">EDD Table</h5>
        </div>
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal3" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/3.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Image 1 -->
    <div class="col">
      <div class="card">
        <img src="/springHunt/2.jpg" class="card-img-top" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal2">
        <div class="card-body">
          <h5 class="card-title">Christina Myrick</h5>
          <p class="card-text">holding a basket that she won!</p>
        </div>
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal2" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/2.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->


    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->
  </div>




  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Image 1 -->
    <div class="col">
      <div class="card rounded-bottom">
        <img src="/springHunt/4.jpg" class="card-img-top rounded-bottom" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal">
        <!-- <div class="card-body">
      <h5 class="card-title">Event Image 1</h5>
      <p class="card-text">Description of the event or image.</p>
    </div> -->
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/4.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->

    <div class="col">
      <div class="card">
        <img src="/springHunt/5.jpg" class="card-img-top" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal3">
        <div class="card-body">
          <h5 class="card-title">Juan Quiroz</h5>
        </div>
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal3" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/5.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Image 1 -->
    <div class="col">
      <div class="card">
        <img src="/springHunt/6.jpg" class="card-img-top" alt="Event Image 1" data-bs-toggle="modal"
          data-bs-target="#image1Modal2">
        <div class="card-body">
          <h5 class="card-title">Linda Melendez</h5>
          <p class="card-text">Wine Basket Winner</p>
        </div>
      </div>
    </div>
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="image1Modal2" tabindex="-1" aria-labelledby="image1ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="image1ModalLabel">Event Image 1</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="/springHunt/6.jpg" class="img-fluid" alt="Event Image 1">
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->


    <!-- Repeat the above block for each image, making sure to change the IDs and paths accordingly -->
  </div>
</div>