<configuration>
  <system.webServer>

    <!-- indicates that the app.js file is a node.js application
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to app.js node.js application; for example, the following URLs will
    all be handled by app.js:

        hostNameFROMiSS/myapp/foo
    -->

    <rewrite>
    <!--
      <rules>
        <rule name="send to app.js">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
-->






      <!--other neew rules just added start-->
      <rules>




<!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
            <action type="Rewrite" url="public/{R:0}" logRewrittenUrl="true"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            </conditions>
            <match url="*.*"/>
        </rule>


  <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            </conditions>
            <action type="Rewrite" url="app.js"/>
        </rule>

        </rules>

       <!--other new rules just added end-->
    </rewrite>
        <directoryBrowse enabled="false" />



  </system.webServer>


</configuration>


